body {
  background-color: #282828;
  color: #e6e6e6;
  font-family: Tahoma, Arial, Sans-Serif;
}

.wrapper {
  box-sizing: border-box;
  width: 960px;
  height: 885px;
  padding: 55px 70px 20px;
  margin: 0 auto;
  background: url("../img/bg.jpg");
}

a {
  color: #e6e6e6;
  text-decoration: none;
}





/*-------------------------
    #SECTION-HEAD
----------------------*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  position: relative;
  box-sizing: border-box;
  width: 265px;
  height: 147px;
  padding-top: 115px;
  background-image: url("../img/logo.png");
}

.logo p {
  text-align: center;
}

.contact-us {
  float: right;
  margin-top: 90px;
  margin-right: 10px;
}

.contact-us p {
  margin-bottom: 5px;
  font-size: 9px;
}

.contact-us h3 {
  margin-bottom: 7px;
  font-size: 11px;
  font-weight: bold;
}





/*-------------------------
    #SECTION-GALERY
----------------------*/

.galery li {
  float: left;
  width: 31.3%;
  margin: 0 1% 50px 1%;
}

.galery img {
  max-width: 100%;
  border: 4px ridge #878787;
  border-radius: 4px;
}

.galery h3 {
  padding-top: 2px;
  text-align: center;
  font-size: 16px;
}






/*-------------------------
    #SECTION-FOOTER
----------------------*/

footer {
  text-align: center;
  font-size: 11px;
  padding-top: 130px;
}
